<slot />

<style>
  :global(html) {
    height: 100%;
  }
  :global(body) {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --small: 18px;
    --medium: 24px;
    --big: 32px;
    --super: 48px;
    --primary-text: #36474f;
    --info-text: #9aa3a7;
  }
  :global(#sapper) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>
