<script>
  import { onMount } from "svelte";
  import Card from "../components/Card.svelte";
  import EndGameModal from "../components/EndGameModal.svelte";
  import { view } from "../store/game";
  import {
    NEW_GAME,
    MAIN,
    START_TURN,
    TURN,
    RULES,
    END_TURN,
    END_ROUND
  } from "../constants";
  import NewGame from "../views/NewGame.svelte";
  import Main from "../views/Main.svelte";
  import StartTurn from "../views/StartTurn.svelte";
  import Turn from "../views/Turn.svelte";
  import Rules from "../views/Rules.svelte";
  import EndTurn from "../views/EndTurn.svelte";
  import EndRound from "../views/EndRound.svelte";
  import { activeTeam, stack } from "../store/game.js";
  import { pwaInstallEvent } from "../store/install.js";

  onMount(() => {
    window.addEventListener("beforeinstallprompt", e => {
      e.preventDefault();
      pwaInstallEvent.set(e);
    });
    return () => window.removeEventListener("beforeinstallprompt");
  });

  const views = {
    [NEW_GAME]: NewGame,
    [MAIN]: Main,
    [START_TURN]: StartTurn,
    [TURN]: Turn,
    [RULES]: Rules,
    [END_TURN]: EndTurn,
    [END_ROUND]: EndRound
  };

  let isAnimationActive = false;
  let activeView = MAIN;
  view.subscribe(state => {
    if (state !== activeView) isAnimationActive = true;
  });
  const onAnimationEnd = () => {
    isAnimationActive = false;
    activeView = $view;
  };
</script>

<div class="containerWrapper" style={`--theme:${$activeTeam.color}`}>
  <div class="container">
    <!-- {#each $stack.slice(0, -1) as item, i}
      <Card
        style={`transform: translate(0px, ${($stack.length - i) * 2}px) scale(${1 - ($stack.length - i) / 200})`} />
    {/each} -->
    <Card>
      <svelte:component this={views[$view]} />
    </Card>
    <Card on:animationend={onAnimationEnd} {isAnimationActive}>
      <svelte:component this={views[activeView]} autostart={true} />
    </Card>
    <EndGameModal />
  </div>
</div>

<audio id="alarmAudio">
  <source src="/sound/alarm.ogg" type="audio/ogg" />
  <source src="/sound/alarm.mp3" type="audio/mpeg" />
</audio>
<audio id="guessAudio">
  <source src="/sound/guess.ogg" type="audio/ogg" />
  <source src="/sound/guess.mp3" type="audio/mpeg" />
</audio>

<style>
  .containerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--theme);
    transition: background-color 0.2s ease-in-out;
    height: 100%;
    width: 100%;
  }
  .container {
    height: calc(100% - 32px);
    max-width: 100%;
    min-width: calc(100% - 32px);
    position: relative;
  }
  @media (orientation: landscape) {
    .container {
      max-width: 70vh;
      min-width: 70vh;
    }
  }
  .container :global(.wrapper:first-child .card) {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
</style>
