<script>
  import Button from "../components/Button.svelte";
  import CloseButton from "../components/CloseButton.svelte";
  import Typography from "../components/Typography.svelte";
  import Score from "../components/Score.svelte";
  import Spacer from "../components/Spacer.svelte";
  import Logo from "../components/Logo.svelte";
  import { activeTeam } from "../store/game.js";
  import { view, teams, words, round } from "../store/game.js";
  import {
    WORD,
    NEW_GAME,
    START_TURN,
    ROUND_WORDING
  } from "../constants/index.js";

  $: winScore = $teams.list.reduce(
    (res, team) => (team.score > res ? team.score : res),
    0
  );
  $: winners = $teams.list.filter(team => team.score === winScore);

  const nextRound = () => {
    teams.nextRound();
    words.nextRound();
    view.set($round === WORD ? NEW_GAME : START_TURN);
  };
</script>

<CloseButton />
<Logo />

{#if winners.length === 1}
  <Typography type="title" center>Победа {winners[0].win}!</Typography>
{:else}
  <Typography type="title" center>Ничья</Typography>
{/if}

<Score teams={$teams.list} />
<Spacer size={16} />
<Button on:click={nextRound}>{ROUND_WORDING[$round]}</Button>
