<script>
  import Button from "../components/Button.svelte";
  import CloseButton from "../components/CloseButton.svelte";
  import Typography from "../components/Typography.svelte";
  import Score from "../components/Score.svelte";
  import Logo from "../components/Logo.svelte";
  import Spacer from "../components/Spacer.svelte";
  import { activeTeam } from "../store/game.js";

  import { view, teams, words } from "../store/game.js";
  import { START_TURN } from "../constants/index.js";

  const confirm = () => {
    view.set(START_TURN);
    words.endTurn();
    teams.nextTeam();
  };
</script>

<CloseButton />
<Logo />

<Typography type="title">Отгадано: {$teams.activeTeamScore}</Typography>
<Score teams={$teams.list} />
<Spacer size={16} />
<Button on:click={confirm}>НУ ОК</Button>
