<script>
  import Button from "../components/Button.svelte";
  import LinkButton from "../components/LinkButton.svelte";
  import Spacer from "../components/Spacer.svelte";
  import Logo from "../components/Logo.svelte";
  import { view } from "../store/game";
  import { NEW_GAME, RULES } from "../constants";
  import { pwaInstallEvent } from "../store/install.js";

  let isInstalling = false;
  const installApp = () => {
    $pwaInstallEvent.prompt();
    isInstalling = true;

    $pwaInstallEvent.userChoice.then(() => {
      pwaInstallEvent.set(null);
    });
  };
</script>

<Logo />
<Spacer size={32} />
<div class="installButton" class:isVisible={$pwaInstallEvent && !isInstalling}>
  <LinkButton on:click={installApp}>Установить</LinkButton>
  
</div>
<Spacer size={24}/>
<Button on:click={() => view.set(NEW_GAME)}>НОВАЯ ИГРА</Button>
<Spacer />
<Button on:click={() => view.set(RULES)}>ПРАВИЛА</Button>

<style>
  .installButton {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .isVisible{
    visibility:visible;
    opacity:1;
  }
</style>
