<script>
  import Typography from "../components/Typography.svelte";
  import Button from "../components/Button.svelte";
  import IconButton from "../components/IconButton.svelte";
  import Team from "../components/Team.svelte";
  import Spacer from "../components/Spacer.svelte";
  import { teams as teamsList } from "../constants/index.js";
  import { START_TURN } from "../constants";
  import { wordCount, teams, words, view } from "../store/game.js";

  const startGame = () => {
    words.newGame();
    view.set(START_TURN);
    teams.newGame();
  };
</script>

<Typography type="title">Новая игра</Typography>

<div class="group">
  <Typography type="body">Команды</Typography>
  <div class="teamNames">
    {#each $teams.list as team, i}
      <Team color={team.color}>
        {team.name}
        {#if i > 1 && i + 1 === $teams.list.length}
          <IconButton on:click={teams.substruct}>–</IconButton>
        {/if}
      </Team>
    {/each}
  </div>
  {#if teamsList.length > $teams.list.length}
    <IconButton on:click={teams.add}>+</IconButton>
  {/if}
</div>

<div class="group">
  <Typography type="body">Слов</Typography>
  <div class="counter">
    <IconButton on:click={wordCount.substruct} disabled={$wordCount < 11}>
      –
    </IconButton>
    <Typography type="title">{$wordCount}</Typography>
    <IconButton on:click={wordCount.add} disabled={$wordCount > 80}>
      +
    </IconButton>
  </div>
  <Spacer size={32} />
  <Button on:click={startGame}>НАЧАТЬ</Button>
</div>

<style>
  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .counter {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
  .teamNames {
    align-self: flex-start;
  }
</style>
