<script>
  import Button from "../components/Button.svelte";
  import Typography from "../components/Typography.svelte";
  import Spacer from "../components/Spacer.svelte";
  import { MAIN } from "../constants";
  import { view } from "../store/game";
</script>

<div class="rules">
  <Typography type="body" center>Правила игры</Typography>
  <Spacer />
  <Typography type="info">1. Поделитесь на команды</Typography>
  <Spacer />
  <Typography type="info">
    2. Игрок команды, цвет которой указан экране, берет телефон и нажимает
    кнопку "ПОЕХАЛИ"
  </Typography>
  <Spacer />
  <Typography type="info">
    3. За 30 секунд нужно объяснить своей команде как можно больше карточек.
  </Typography>
  <Typography type="info">
    Если команда назвала фамилию, жмите "ОТГАДАЛИ"!
  </Typography>
  <Typography type="info">Пропускать карты нельзя.</Typography>
  <Typography type="info">
    Если вам нужна подсказка, нажмите кнопку "Кто это?"
  </Typography>
  <!-- <Typography type="info">
    Сбросить карту можно кнопкой "Это дичь!". Сбросить можно максимум три карты
    на команду.
  </Typography> -->
  <Spacer />
  <Typography type="info">
    4. Если закночилось время, нажмите кнопку "НУ, ОК" и передайте телефон
    следующей команде.
  </Typography>
  <Spacer />
  <Typography type="info">
    5. Побеждает команда, отгадавшая больше всех карточек.
  </Typography>
  <Spacer />
  <Typography type="body" center>Раунды</Typography>
  <Spacer />
  <Typography type="info">
    1. Объясните карточку словами. Нельзя использовать однокоренные слова.
  </Typography>
  <Spacer />
  <Typography type="info">
    2. Объясните карточку с помощью жестов, не издавайте звуки.
  </Typography>
  <Spacer />
  <Typography type="info">
    3. Объясните карточку одним словом. Предлоги это тоже слова.
  </Typography>
  <Spacer />
</div>

<Button on:click={() => view.set(MAIN)}>ПОНЯТНО</Button>

<style>
  .rules {
    overflow: auto;
  }
  .rules::-webkit-scrollbar {
    display: none;
  }

  
  .rules {
    -ms-overflow-style: none; 
  }
</style>
