<script>
  import Button from "../components/Button.svelte";
  import CloseButton from "../components/CloseButton.svelte";
  import Typography from "../components/Typography.svelte";
  import Logo from "../components/Logo.svelte";
  import { activeTeam } from "../store/game.js";
  import { view } from "../store/game.js";
  import { TURN } from "../constants/index.js";
</script>

<CloseButton />
<Logo />
<Typography type="title" center>Ход {$activeTeam.win}</Typography>
<Button on:click={() => view.set(TURN)}>ПОЕХАЛИ</Button>
