<script>
  import Button from "../components/Button.svelte";
  import CloseButton from "../components/CloseButton.svelte";
  import Typography from "../components/Typography.svelte";
  import Timer from "../components/Timer.svelte";
  import Spacer from "../components/Spacer.svelte";
  import WhoIsThis from "../components/WhoIsThis.svelte";
  import PersonName from "../components/PersonName.svelte";
  import { view, teams, words, stack, round } from "../store/game.js";
  import { END_TURN, END_ROUND } from "../constants/index.js";

  export let autostart = false;
  let isDescriptionOpen = false;
  let isAntiCheatTimeoutPassed = true;
  const toggleDescription = () => (isDescriptionOpen = !isDescriptionOpen);
  const playAudio = id => {
    const audio = document.getElementById(id);
    if (audio) audio.play();
  };
  const endTurn = () => {
    playAudio("alarmAudio");
    view.set(END_TURN);
  };
  const guess = () => {
    if (!isAntiCheatTimeoutPassed) return;

    isAntiCheatTimeoutPassed = false;
    setTimeout(() => (isAntiCheatTimeoutPassed = true), 800);

    playAudio("guessAudio");
    teams.guess();
    isDescriptionOpen = false;
    if ($stack.length === 1) {
      playAudio("alarmAudio");
      words.nextRound();
      round.next();
      view.set(END_ROUND);
    } else {
      words.guess($stack[0].name);
    }
  };
</script>

<div class="header">
  <CloseButton />

  <PersonName name={$stack[0].name} />
  
  <Spacer size={16} />
  <WhoIsThis
    description={$stack[0].description}
    isOpen={isDescriptionOpen}
    toggle={toggleDescription} />
</div>

<div class="bottom">
  <Timer on:timerend={endTurn} {autostart} />
  <Spacer size={32} />
  <Button on:click={guess} withAnimation>ОТГАДАЛИ</Button>
</div>

<style>
  .bottom {
    width: 100%;
    text-align: center;
  }
  .header {
    width: 100%;
  }
</style>
