<script>
  export let withAnimation = false;
</script>

<button on:click class:withAnimation>
  <slot />
</button>

<style>
  button {
    background: var(--theme);
    border: none;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: white;
    font-size: var(--medium);
    width: 100%;
    padding: 16px 16px;
    transform-origin: 50% 50%;
  }
  .withAnimation:active{
    animation: scale 0.3s ease-in-out;
  }

   @keyframes scale {
    0% {
      transform: scale(1);
    }
    50%{
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
