<script>
  export let style = "";
  export let isAnimationActive = false;
</script>

<div class="wrapper">
  <div class="card" {style} class:isAnimationActive on:animationend>
    <slot />
  </div>
</div>

<style>
  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .card {
    /* position: fixed; */
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 16px;
    /* width: calc(100vw - 32px); */

    /* height: calc(100vh - 48px); */
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    overflow: auto;
    width: 100%;
  }

  .isAnimationActive {
    animation: throw 0.5s ease-in-out;
  }
  @keyframes throw {
    from {
      transform: rotate(0deg) translateX(0%);
      transform-origin: 100% 100%;
      opacity: 1;
    }
    to {
      transform: rotate(60deg) translateX(85%);
      transform-origin: 80% 100%;
      opacity: 0;
    }
  }
</style>
