<script>
  import { fade } from "svelte/transition";
  import Typography from "./Typography.svelte";
  import Button from "./Button.svelte";
  import Spacer from "./Spacer.svelte";
  import { isModalOpen, view } from "../store/game";
  import { MAIN } from "../constants";
  const resetGame = () => {
    view.set(MAIN);
    isModalOpen.set(false);
  };
</script>

{#if $isModalOpen}
  <div class="overlay" transition:fade|local={{ duration: 200 }}>
    <div class="modal">
      <Typography type="title" center>Завершить игру?</Typography>
      <Spacer size={16} />
      <div class="actions">
        <Button on:click={resetGame}>ДА</Button>
        <div class="spacer" />
        <Button on:click={() => isModalOpen.set(false)}>НЕТ</Button>
      </div>
    </div>
  </div>
{/if}

<style>
  .spacer {
    width: 10%;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }
  .modal {
    background: white;
    border-radius: 8px;
    padding: 16px;
  }
</style>
