<script>
  export let disabled = false;
</script>

<button on:click {disabled} class:disabled>
  <slot />
</button>

<style>
  button {
    background: none;
    outline: none;
    border: none;
    font-size: var(--big);
    color: var(--theme);
  }
  .disabled {
    color: var(--info-text);
  }
</style>
