<script>
  import Typography from "./Typography.svelte";
  export let name = "";
  let internalName = name;

  const onAnimationEnd = () => (internalName = name);
</script>

<div class:isAnimationActive={name !== internalName} on:animationend={onAnimationEnd}>
  <Typography type="super" center>{internalName}</Typography>
</div>

<style>
  .isAnimationActive {
    animation: changeAnimation 0.3s ease-in-out forwards;
  }

  @keyframes changeAnimation {
    0% {
      transform: scale(1);
      transform-origin: 50% 50%;
      opacity: 1;
    }
    100% {
      transform: scale(0);
      transform-origin: 50% 50%;
      opacity: 0;
    }
  }
</style>
