<script>
  import Typography from "./Typography.svelte";
  export let teams = [];
</script>

<div class="container">
  <Typography type="info">Счет:</Typography>
  <div class="score">
    {#each teams as team}
      <div class="scoreItem" style={`background-color:${team.color}`}>
        {team.score}
      </div>
    {/each}
  </div>
</div>

<style>
  .container {
    text-align: center;
    width: 100%;
  }
  .scoreItem {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    font-size: var(--medium);
  }
  .score {
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
</style>
