<script>
  import { scale } from "svelte/transition";
  export let color;
</script>

<div class="container" transition:scale|local>
  <div class="color" style={`--team-color:${color}`} />
  <div class="name">
    <slot />
  </div>
</div>

<style>
  .color {
    width: 30px;
    height: 30px;
    background: var(--team-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 16px;
    border-radius: 50%;
  }
  .name {
    display: flex;
    align-items: center;
    font-size: var(--medium);
    color: var(--primart-text);
  }
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:8px 0;
  }
</style>
