<script>
  import { onMount } from "svelte";
  import { TURN_TIME } from "../constants/index.js";
  import { createEventDispatcher } from "svelte";
  const dispatch = createEventDispatcher();
  export let autostart = false;
  let time = TURN_TIME;
  let seconds = 30;
  $: percent = (time / TURN_TIME) * 100;
  $: {
    const secondsVal = Math.ceil(time / 1000);
    seconds = secondsVal; //secondsVal > 9 ? secondsVal : "0" + secondsVal;
  }

  onMount(() => {
    let timerId = null;
    const tick = () => {
      time = time - 10;
      if (time === 0) {
        dispatch("timerend", null);
        return;
      }
      timerId = setTimeout(tick, 10);
    };
    if (autostart) tick();
    return () => clearTimeout(timerId);
  });
</script>

<svg viewBox="0 0 36 36" class="timerSvg">
  <path
    class="timerBackground"
    d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
    -31.831"
    fill="none"
    stroke-width="1"
    stroke-dasharray="100, 100" />
  <path
    class="timer"
    d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0
    -31.831"
    fill="none"
    stroke="#444"
    stroke-width="1"
    stroke-dasharray={`${percent}, 100`} />
  <text x="18" y="23" class="text" text-anchor="middle">{seconds}</text>
</svg>

<style>
  .text {
    fill: var(--theme);
  }
  .timer {
    stroke: var(--theme);
    stroke-linecap: round;
  }
  .timerBackground {
    stroke: var(--info-text);
  }
  .timerSvg {
    max-width: 60%;
  }
</style>
