<script>
  export let type = "title"; //title, body, info
  export let center = false;
</script>

<div class={type} class:center>
  <slot />
</div>

<style>
  .super {
    font-size: var(--super);
    color: var(--primary-text);
  }
  .title {
    font-size: var(--big);
    color: var(--primary-text);
  }
  .body {
    font-size: var(--medium);
    color: var(--primary-text);
  }
  .info {
    font-size: var(--small);
    color: var(--info-text);
  }
  .center {
    text-align: center;
  }
</style>
