<script>
  import Typography from "./Typography.svelte";
  import Spacer from "./Spacer.svelte";
  import LinkButton from "./LinkButton.svelte";
  export let description = "";
  export let isOpen = false;
  export let toggle = () => {};
</script>

{#if isOpen}
  <div>
    <LinkButton on:click={toggle}>Понятно</LinkButton>
  </div>
  <Spacer />
  <Typography type="info" center>{description}</Typography>
{:else}
  <div>
    <LinkButton on:click={toggle}>Кто это?</LinkButton>
  </div>
{/if}

<style>
  div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
</style>
